{% extends 'base.html' %}

{% block main_area %}
<div class="row">

<!-- Blog entries-->
<div class="col-lg-8" id="main-area">

    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %}
            <a class="btn btn-info btn-sm float-right mt-5" href="/blog/create_post/" role="button"><i class="bi bi-pen-fill"></i>&nbsp;&nbsp;New Post</a>
        {% endif %}
    {% endif %}

    <h1 class="my-4">
        Blog
        {% if category %}
        <span class="badge badge-secondary">{{ category }}</span>
        {% endif %}
        {% if tag %}
        <span class="badge badge-light"><i class="bi bi-tags-fill"></i>{{ tag }}({{ tag.post_set.count }})</span>
        {% endif %}
    </h1>
    {% if post_list.exists %}
        <!-- Blog post-->
        {% for p in post_list %}
        <div class="card mb-4" id="post-{{ p.pk }}">
            <!-- <img class="card-img-top" src="https://picsum.photos/id/{{ p.id }}/750/200" alt="Card image cap" /> -->
            {% if p.head_image %}
                <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image" />
            {% else %}
                <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/600/800" alt="random image" />
            {% endif %}
            <div class="card-body">
                {% if p.category %}
                    <span class="badge badge-info float-right">{{ p.category }}</span>
                {% else %}
                    <span class="badge badge-secondary float-right">미분류</span>
                {% endif %}
                <h5 class="card-title"><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h5>
                {% if p.hook_text %}
                    <h6 class="text-muted">{{ p.hook_text }}</h6>
                {% endif %}
                <p class="card-text">{{ p.content| truncatewords:45 | safe }}</p>

                {% if p.tags.exists %}
                    <i class="bi bi-tags-fill"></i>
                    {% for tag in p.tags.iterator %}
                        <a href="{{ tag.get_absolute_url }}"><span class="badge badge-pill badge-light">{{ tag }}</span></a>
                    {% endfor %}
                    <br>
                    <br>
                {% endif %}
                <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Read More →</a>
            </div>
            <div class="card-footer text-muted">
                {{ p.created_at }}
                <!-- 작성자 들어갈곳 -->
                <a href="#">{{ p.author | upper }}</a>
                <!-- <a href="#!">Start Bootstrap</a> -->
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h2>아직 게시물이 없습니다.</h2>
    {% endif %}



    <!-- Pagination-->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item"><a class="page-link" href="#!">← Older</a></li>
        <li class="page-item disabled"><a class="page-link" href="#!">Newer →</a></li>
    </ul>
</div>
{% include 'blog/side_widget.html' %}
</div>
{% endblock %}