{% extends 'base.html' %}

{% block head_title %}Creat Post - Blog{% endblock %}

{% block main_area %}
<div class="row">

    <!-- Blog entries-->
    <div class="col-lg-12" id="main-area">
        <h1>Create New Post</h1>
        <hr>
        <div>
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <table>
                    {{ form }}
                    <!-- 템플릿파일에 input추가(태그 입력란) -->
                    <tr>
                        <th><label for="id_tags_str">Tags:</label></th>
                        <td><input type="text" name="tags_str" id="id_tags_str"></td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-primary float-right">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}