<!-- Side widgets-->
<div class="col-lg-4">
  <!-- Search widget-->
  <div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Search for..." id="search-input" />
        <span class="input-group-append">
          <button class="btn btn-secondary" type="button" onclick="searchPost();">Go!</button>
        </span>
      </div>
    </div>
  </div>
  <!-- Categories widget-->
  <div class="card my-4">
    <h5 class="card-header">Categories</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <ul class="list-unstyled mb-0 ml-3">
            {% for category in categories %}
            <li>
              <a href="{{ category.get_absolute_url }}">{{ category }} ({{ category.post_set.count }})</a>
              <!-- 
                category.post_set 의 의미:
                하나의 category와 연결되어있는 post 테이블의 레코드 집합

                category.post_set.count 의 의미:
                하나의 category와 연결되어있는 post테이블의 레코드 집합의 갯수
                -->
            </li>
            {% endfor %}
            <li>
              <a href="/blog/category/no_category/">미분류({{ no_category_post_count }})</a>
            </li>
          </ul>
        </div>
        <!-- <div class="col-lg-6">
          <ul class="list-unstyled mb-0">
            <li><a href="#!">JavaScript</a></li>
            <li><a href="#!">CSS</a></li>
            <li><a href="#!">Tutorials</a></li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</div>
<script>
  function searchPost(){
    let searchValue = document.getElementById('search-input').value.trim();
    if (searchValue.length > 1){
      location.href="/blog/search/" + searchValue + "/";
    }
    else{
      alert('검색어('+ searchValue +')가 너무 짧습니다.');
    }
  };

  document.getElementById('search-input').addEventListener('keyup', function(event)
  {
    if(event.key === 'Enter'){
      searchPost();
    }
  });
</script>